In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\91909\Downloads\csv_files\data\realest.csv"
data = pd.read_csv(path)

In [4]:
data.columns

Index(['Price', 'Bedroom', 'Space', 'Room', 'Lot', 'Tax', 'Bathroom', 'Garage',
       'Condition'],
      dtype='object')

In [9]:
cond1 = data[(data['Bathroom']==2) & (data['Bedroom']==4)]
cond1

     Price  Bedroom   Space  Room   Lot    Tax  Bathroom  Garage  Condition
5     44.0      4.0   897.0   7.0  25.0  960.0       2.0     1.0        0.0
17    64.0      4.0  1226.0   8.0  37.0    NaN       2.0     2.0        0.0
43    65.0      4.0  1250.0   8.0  37.0  554.0       2.0     2.0        0.0
57    44.0      4.0   880.0   7.0  25.0  965.0       2.0     1.0        0.0
69    66.0      4.0  1243.0   8.0  37.0  591.0       2.0     2.0        0.0
77    63.0      4.0   963.0   7.0  30.0  885.0       2.0     1.0        0.0
83    41.0      4.0   927.0   7.0  25.0  975.0       2.0     1.0        0.0
95    61.0      4.0     NaN   8.0  37.0  581.0       2.0     2.0        0.0
121   68.0      4.0  1274.0   8.0  37.0    NaN       2.0     2.0        0.0
135   41.0      4.0   859.0   7.0  25.0  941.0       2.0     1.0        0.0
147   66.0      4.0     NaN   8.0  37.0  565.0       2.0     2.0        0.0
155   62.0      4.0   951.0   7.0  30.0  895.0       2.0     1.0        0.0

In [14]:
import statistics as stats
statistics = [stats.mean(cond1['Tax']),stats.stdev(cond1['Tax']),stats.median(cond1['Tax']),min(cond1['Tax']),max(cond1['Tax'])]
statistics

[nan, nan, 738.0, 554.0, 975.0]

In [16]:
data_frame = data[(data['Space'] > 800)] 
data_frame=data_frame.sort_values(by='Price',ascending=False)
data_frame

     Price  Bedroom   Space  Room   Lot     Tax  Bathroom  Garage  Condition
114   90.0      8.0  2293.0  12.0  50.0  1181.0       3.0     2.0        0.0
140   88.0      7.0  2277.0  12.0  50.0  1248.0       3.0     2.0        0.0
36    88.0      8.0  2278.0  12.0  50.0  1183.0       3.0     2.0        0.0
88    88.0      8.0  2228.0  12.0  50.0  1208.0       3.0     2.0        0.0
62    85.0      7.0  2295.0  12.0  50.0  1233.0       3.0     2.0        0.0
..     ...      ...     ...   ...   ...     ...       ...     ...        ...
45    35.0      5.0  1142.0   7.0  25.0   543.0       1.5     0.0        0.0
19    35.0      4.0  1137.0   7.0  25.0   561.0       1.5     0.0        0.0
97    34.0      4.0  1087.0   7.0  25.0   584.0       1.5     0.0        0.0
71    34.0      4.0  1095.0   7.0  25.0   530.0       1.5     0.0        0.0
149   32.0      4.0  1065.0   7.0  25.0   492.0       1.5     0.0        0.0

[110 rows x 9 columns]

In [18]:
number_of_observations = (data['Lot'] > 25).count()
number_of_observations

157

In [ ]:
Q80 = np.percentile(data_prc['Lot'],80)